In [2]:
import pandas as pd
import numpy as np

In [5]:
# chargement de fichier .csv 
df = pd.read_csv('all_fuels_data.csv')
# Affichage des premières lignes 
df.head()

,ticker,commodity,date,open,high,low,close,volume
0,CL=F,Crude Oil,2000-08-23,31.950001,32.799999,31.950001,32.049999,79385
1,CL=F,Crude Oil,2000-08-24,31.900000,32.240002,31.400000,31.629999,72978
2,CL=F,Crude Oil,2000-08-25,31.700001,32.099998,31.320000,32.049999,44601
3,CL=F,Crude Oil,2000-08-28,32.040001,32.919998,31.860001,32.869999,46770
4,CL=F,Crude Oil,2000-08-29,32.820000,33.029999,32.560001,32.720001,49131

In [ ]:
# verification de nombre de ligne pour chaque commodity
df['commodity'].value_counts()

commodity
Crude Oil          5984
Natural Gas        5980
Heating Oil        5977
RBOB Gasoline      5938
Brent Crude Oil    4196
Name: count, dtype: int64

In [ ]:
# Détection des valeur null
missing_values = df.isnull().sum()
# affichage des valeurs manquantes
missing_values

ticker       0
commodity    0
date         0
open         0
high         0
low          0
close        0
volume       0
dtype: int64

In [6]:
# Détection des doublons
nb_duplicates = df.duplicated().sum()
print("Nombre de doublons détectés :", nb_duplicates)

# Suppression des doublons
df = df.drop_duplicates()
print("Taille du dataset après suppression :", df.shape)

Nombre de doublons détectés : 0
Taille du dataset après suppression : (28075, 8)

In [ ]:
# Convertir la date de objet en datetime
df['date'] = pd.to_datetime(df['date'], errors='coerce')

# Les colonnes numériques
num_cols = ['open', 'high', 'low', 'close', 'volume']
df[num_cols] = df[num_cols].apply(pd.to_numeric, errors='coerce')

# Les colonnes catégorielles
cat_cols = ['ticker', 'commodity']
df[cat_cols] = df[cat_cols].astype('object')

df.dtypes

In [ ]:
# Enregistrement du dataset  
df.to_csv('all_fuels_data.csv', index=False)
print("Dataset nettoyé enregistré ")